@import 'tailwindcss';

@font-face {
  font-family: "Inter";
  src: url('./assets/fonts/inter/Inter_24pt-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('./assets/fonts/inter/Inter_24pt-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('./assets/fonts/poppins/Poppins-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('./assets/fonts/poppins/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('./assets/fonts/poppins/Poppins-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-green-main-1: #081C15;
  --color-green-main-2: #52B788;
  --color-green-accent: #D8F3DC;
  --color-green-tag-noelectronic: #32CD32;
  --color-gray-tag-electronic: #696969;
}

@layer components {
  .btn {
    @apply rounded-md font-poppins font-semibold border-2 border-green-main-2 text-green-main-2 px-2 py-1
  }

  .btn-solid {
    @apply rounded-md font-poppins font-semibold bg-green-main-2 text-white border-2 border-green-main-2 px-2 py-1
  }
  
  .input-text {
    @apply border rounded-md px-2 py-1
  }

  .input-text-solid {
    @apply rounded-md bg-green-accent px-2 py-1 focus:outline-none
  }

  .dropdown {
    @apply bg-white border-1 rounded-sm border-stone-200 shadow-sm z-10 
  }

  .card {
    /* active:bg-stone-100 hover:bg-stone-100 cursor-pointer */
    @apply flex rounded-2xl 
  }

  .hyperlink {
    @apply hover:underline active:underline underline-offset-1 cursor-pointer
  }
}